@model DesafioUnica.ViewModel.RecuperarSenha

@{
    Layout = "_LayoutNulo";
    ViewData["Title"] = "Recuperar Senha";
}

<!-- Modal -->
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Recuperar Senha</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form asp-action="RecuperarSenha">
            <div class="modal-body">
                <div class="account-wall">
                    <div class="form-group title">
                        <h5 class="text-center">Recupere seu acesso com o e-mail</h5>
                    </div>
                    @{
                        if (ViewBag.MsgSuccess != null)
                        {
                            <div class="msgSuccess divSpaceMargin">@ViewBag.MsgSuccess</div>
                        }

                        if (TempData["Erro"] != null)
                        {
                            <div class="msgErro divSpaceMargin">@TempData["Erro"]</div>
                        }
                    }
                    <br>
                    <div class="form-group divSpaceMargin">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-block">
                <div class="form-group divSpaceMargin text-center">
                    <input type="submit" value="Enviar" class="btn btn-lg btn-dark" />
                </div>
            </div>
        </form>
    </div>
</div>

        

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
