@{ ViewData["Title"] = "Início"; }
<div id="intro" class="intro">
    <div class="intro-content">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h4>SOLUÇÕES PARA</h4>
                    <h1>USUÁRIOS</h1>
                    <p>Amplie suas possibilidades! Cadastre no nosso banco e aproveite os recursos exclusivos que disponibilizamos para você gratuitamente!</p>
                    <a class="btn-solid-lg page-scroll  text-decoration-none" asp-action="Cadastro" asp-controller="Usuarios">CADASTRA-SE</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-container">
                    <img src="~/img/destaque.png" alt="alternative">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="slider-vagas">
    <div class="container text-left">
        <h3>Por que utilizar nossos serviços?</h3>
        <div class="row">
            <div class="div-vaga col-lg-4">
                <div class="card-body">
                    <h5>Responsabilidade</h5>
                    <p>Esteja ciente e seguro que iremos lhe proteger, priorizando você, seu conforto e sua integridade!</p>
                </div>
            </div>

            <div class="div-vaga col-lg-4">
                <div class="card-body">
                    <h5>Empatia</h5>
                    <p>Entendemos seu lado e buscamos lhe entregar resultados que são conforme sua identidade.</p>
                </div>
            </div>

            <div class="div-vaga col-lg-4">
                <div class="card-body">
                    <h5>Tecnologia</h5>
                    <p>Utilizamos de ferramentas que possibilitam oferecer recursos muito mais do que o esperado.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="slider-footer">
    <div class="container text-center">
        <h3>Faça parte você também</h3>
        <a class="btn-solid-xlg page-scroll text-decoration-none" asp-controller="Usuarios" asp-action="Cadastro">CADASTRA-SE</a>
    </div>
</div>
